<!doctype html>
<html>
<head>
    <title>Etiquette</title>

    <link href="{{ asset('/bundles/ekynaglsunibox/css/etiquette.css') }}" type="text/css" rel="stylesheet" media="all">
</head>
<body>

    <img src="{{ asset('/bundles/ekynaglsunibox/img/gls-unibox-example.gif') }}" id="img-model">

    <div class="etiquette">
        <div id="control-bar-1" class="control-bar"></div>

        <!-- Clé tri expedition -->
        {% if data['T110'] is defined %}
        <div id="T110" class="data">{{ data['T110'] }}</div>
        {% endif %}
        <!-- Clé de tri réception -->
        <div id="T310" class="data alt center">{{ data['T310'] }}</div>
        <!-- Pays livraison Euro express (same T105) -->
        <div id="T100" class="data center">{{ data['T100'] }}</div>
        <!-- Pays livraison Business express -->
        {#<div id="T105" class="data center">T105</div>#}
        <!-- Dépôt GLS livraison -->
        <div id="T101" class="data alt center">{{ data['T101'] }}</div>

        <div id="control-bar-2" class="control-bar"></div>

        <!-- Code tournée -->
        <div id="T320" class="data">{{ data['T320'] }}</div>
        <!-- Code postal label -->
        <div id="T8951" class="data">ZipCode</div>
        <!-- Code postal value -->
        <div id="T330" class="data">{{ data['T330'] }}</div>
        <!-- GLS track label -->
        <div id="T8952" class="data">Your GLS Track ID</div>
        <!-- GLS track ID -->
        <div id="T8913" class="data">{{ data['T8913'] }}</div>
        <!-- Service Shod Delivery -->
        <div id="T200" class="data">{{ data['T200'] }}</div>

        <div id="control-bar-3" class="control-bar"></div>

        <!-- Code datamatrix principal -->
        <div id="T8902" class="data">
            <img src="data:image/png;base64,{{ data['T8902']|barcode_datamatrix|raw }}"/>
        </div>

        <!-- Code datamatrix secondaire -->
        {# TODO <div id="T8903" class="data">{{ data['T8904'] }}</div>#}

        <div id="control-bar-4" class="control-bar"></div>

        <!-- Dépôt GLS expé -->
        <div id="T500" class="data">{{ data['T500'] }}</div>
        <!-- Date -->
        <div id="T540" class="data">{{ data['T540'] }}</div>
        <!-- Heure -->
        <div id="T541" class="data">{{ data['T541'] }}</div>

        <div id="kg" class="data">kg</div>
        <!-- Poids valeur -->
        <div id="T530" class="data">{{ data['T530'] }}</div>

        <!-- Info expédition valeur 1 -->
        <div id="numbers" class="data">{{ data['T8904'] }}/{{ data['T8904'] }}</div>







        <div id="frame-1" class="frame">

        </div>
        <div id="frame-2" class="frame">

        </div>
        <div id="frame-3" class="frame">

        </div>
        <div id="frame-4" class="frame">
            <p id="expediteur" class="data">Expediteur</p>
            <p id="T8915" class="data">
                Client {{ data['T8915'] }} Contact ID {{ data['T8914'] }}
            </p>
            <p id="T810" class="data">
                {{ data['T810'] }}<br>
                {{ data['T820'] }}<br>
                {# TODO ? #}
            </p>
            <p id="T821" class="data">
                {{ data['T821'] }} {{ data['T822'] }} {{ data['T823'] }}
            </p>
        </div>

    </div>

    <div id="debug">
        {{ dump(data) }}
    </div>

</body>
</html>
